<h1>New Appointment</h1>

<%= render 'form', appointment: @appointment %>

<%= link_to 'Back', appointments_path, :class => "button btn btn-warning" %>
<%= link_to "Home Page", appointments_path, :class => "button btn btn-warning" %>
