<h3>New Appointment</h3>

<div>
	<i class="fas fa-bread-slice-7x"></i>
</div>
<%= render 'form', appointment: @appointment %>

<%= link_to 'Back', appointments_path, :class => "button btn btn-warning" %>
<%= link_to "Home Page", appointments_path, :class => "button btn btn-warning" %>
